section.home_s-2
	.container
		.row
			.col-lg-8
				.block-title
					h1 Nếu bạn đang phân vân tự hỏi, không biết loại dịch vụ vào phù hợp với nhau cầu của bạn?
				.text_s-2
					p Bạn không biết menu nào bạn có thể yêu cầu ? Bạn đang lo lắng về mức giá ?... Chúng tôi có những gợi ý dành cho bạn
				.btn-view-more
					a(href="") click here để biết thêm thông tin chi tiết
						span.material-icons trending_flat