header
	.container
		.header-wrapper.flex.justify-between.items-center
			.left-header
				.logo
					a(href="index.html")
						img(src="./img/logo.png", alt="")
			.right-header
				.right-top-header.flex.items-center.justify-end
					.website-nav-wrap
						.website-nav
							ul.list-reset
								li
									a(href="#") TVN
								li
									a(href="#") Tokyo Deli Sushi
								li
									a(href="#") Tokyo Deli Home
								li
									a(href="#") Tokyo Deli Express
								li.active
									a(href="#") Tokyo Deli Catering
					.search-wrap
						.search-toggle
							span.mdi.mdi-magnify
						.searchbox
							input(type='text' placeholder="Tìm kiếm...")
							button
								span.mdi.mdi-magnify
							.btn-close
								span.ri-close-line
					.language-wrap
						.language.dropdown
							a(href="").current 
								| VN
								span.mdi.mdi-chevron-down
							.dropdown-content
								ul.list-reset
									li
										a(href="") EN
									li
										a(href="#") VN
					.menu-mobile-toggle
						span.mdi.mdi-menu
				.menu-wrapper
					.menu
						ul.list-reset
							li.active
								a(href="about.html") Giới thiệu
							li.dropdown
								a(href="#") Dịch vụ
								.dropdown-menu
									ul.list-reset-2
										li
											a(href="#") Công ty
										li
											a(href="#") Sự kiện/Hội nghị
										li
											a(href="#") Trường học
										li
											a(href="#") Home Catering
							li
								a(href="client-brand.html") Khách hàng
							li
								a(href="promotion.html") Khuyến mãi
							li
								a(href="news-list.html") tin tức
							li
								a(href="recruitment.html") tuyển dụng
							li
								a(href="contact.html") Liên hệ

	.offcanvas-wrap
		.offcanvas-bar
			.mobile-menu
