.block__tool.dekstop
	ul
		li
			a(href="")
				i.ri-map-pin-2-line
			a(href="system-shop.html")
				p Hệ thống cửa hàng
		li
			a(href="")
				i.ri-mail-send-line
			a(href="")
				p tanvietnhat@gmail.com
		li
			a(href="")
				i.ri-phone-line
			a(href="")
				p TP. HCM
				|
				p (028) 3826.5777
		li
			a(href="")
				i.ri-phone-line
			a(href="")
				p Hà Nội
				|
				p (024) 7102.8222