section.block_service-suggestions
	.container
		.block-title
			.head-title
				h1 Gợi ý suất ăn sẵn
			.head-title-zone
				.title
					ul.list-reset
						li.active
							a(href="") Công ty
						li 
							a(href="") Sự kiện
						li 
							a(href="") Trường học
						li 
							a(href="") Hội nghị

		.row.suggestions
			.col-12.col-md-5.col-lg-5
				.swiper-container.slide-food-service-suggestions
					.swiper-wrapper
						.swiper-slide
							.wrapper
								a
									img(src="./img/service-suggestions/suggestions-1.png", alt="")
						.swiper-slide
							.wrapper
								a
									img(src="./img/service-suggestions/suggestions-1.png", alt="")
						.swiper-slide
							.wrapper
								a
									img(src="./img/service-suggestions/suggestions-1.png", alt="")
					.swiper-pagination.block_service-suggestions-pagination
			.col-12.col-md-7.col-lg-7
				.food-suggestions
					.title_suggestions
						h2 món chay
					.caption_suggestions
						p Với việc sở hữu đội ngũ nhân viên bếp chuyên nghiệp cùng các chuyên gia dinh dưỡng hàng đầu là những người giàu kinh nghiệm trong việc nấu ăn được khám sức khỏe định kỳ đồng thời trải qua các huấn luyện đào tạo kỹ năng chuyên môn
					.title_zone_suggestions
						h3 Set 1
					.icon_suggestions
						ul
							li
								span.ri-shopping-basket-line
								p Gồm: Rau, cơm trắng, canh rong biển
							li
								span.ri-money-dollar-circle-line
								p Giá: 120.000 vnd
					.btn-view-more
						a(href="") Liên hệ
		.row.suggestions
			.col-12.col-md-5.col-lg-5
				.swiper-container.slide-food-service-suggestions
					.swiper-wrapper
						.swiper-slide
							.wrapper
								a(href="")
									img(src="./img/service-suggestions/suggestions-2.png", alt="")
					.swiper-pagination.block_service-suggestions-pagination
			.col-12.col-md-7.col-lg-7
				.food-suggestions
					.title_suggestions
						h2 đồ sóng
					.caption_suggestions
						p Với việc sở hữu đội ngũ nhân viên bếp chuyên nghiệp cùng các chuyên gia dinh dưỡng hàng đầu là những người giàu kinh nghiệm trong việc nấu ăn được khám sức khỏe định kỳ đồng thời trải qua các huấn luyện đào tạo kỹ năng chuyên môn
					.title_zone_suggestions
						h3 Set 2
					.icon_suggestions
						ul
							li
								span.ri-shopping-basket-line
								p Gồm: Cá ngừ, cá hồi, tôm sống
							li
								span.ri-money-dollar-circle-line
								p Giá: 120.000 vnd
					.btn-view-more
						a(href="") Liên hệ
		.row.suggestions
			.col-12.col-md-5.col-lg-5
				.swiper-container.slide-food-service-suggestions
					.swiper-wrapper
						.swiper-slide
							.wrapper
								a(href="")
									img(src="./img/service-suggestions/suggestions-3.png", alt="")
					.swiper-pagination.block_service-suggestions-pagination
			.col-12.col-md-7.col-lg-7
				.food-suggestions
					.title_suggestions
						h2 món cơm
					.caption_suggestions
						p Với việc sở hữu đội ngũ nhân viên bếp chuyên nghiệp cùng các chuyên gia dinh dưỡng hàng đầu là những người giàu kinh nghiệm trong việc nấu ăn được khám sức khỏe định kỳ đồng thời trải qua các huấn luyện đào tạo kỹ năng chuyên môn
					.title_zone_suggestions
						h3 Set 3
					.icon_suggestions
						ul
							li
								span.ri-shopping-basket-line
								p Gồm: Cơm mắm, thịt heo
							li
								span.ri-money-dollar-circle-line
								p Giá: 120.000 vnd
					.btn-view-more
						a(href="") Liên hệ
		.row.suggestions
			.col-12.col-md-5.col-lg-5
				.swiper-container.slide-food-service-suggestions
					.swiper-wrapper
						.swiper-slide
							.wrapper
								a(href="")
									img(src="./img/service-suggestions/suggestions-4.png", alt="")
					.swiper-pagination.block_service-suggestions-pagination
			.col-12.col-md-7.col-lg-7
				.food-suggestions
					.title_suggestions
						h2 món chay
					.caption_suggestions
						p Với việc sở hữu đội ngũ nhân viên bếp chuyên nghiệp cùng các chuyên gia dinh dưỡng hàng đầu là những người giàu kinh nghiệm trong việc nấu ăn được khám sức khỏe định kỳ đồng thời trải qua các huấn luyện đào tạo kỹ năng chuyên môn
					.title_zone_suggestions
						h3 Set 4
					.icon_suggestions
						ul
							li
								span.ri-shopping-basket-line
								p Gồm: Mì Udon, thịt heo, cà ri
							li
								span.ri-money-dollar-circle-line
								p Giá: 120.000 vnd
					.btn-view-more
						a(href="") Liên hệ
section.block_form-service
	.form-service-meal
		.container
			.row
				.col-lg-5
					.form-request
						h3 Form yếu cầu
					.desc
						p Vui lòng điền đầy đủ thông tin form bên cạnh chúng tôi sẽ sớm nhắn được và phản hồi cho bạn.
				.col-lg-7
					.wrap-form
						.row
							.form-group.col-12.col-md-6.col-6
								input.form-control(type='text', placeholder="Họ và tên")
							.form-group.col-12.col-md-6.col-6
								input.form-control(type='text',placeholder="Email")
							.form-group.col-12.col-md-6.col-6
								input.form-control(type='text',placeholder="Tên công ty")
							.form-group.col-12.col-md-6.col-6
								input.form-control(type='text',placeholder="Thời gian")
							.form-group.col-12.col-md-6.col-6
								input.form-control(type='text',placeholder="Số điện thoại")
							.form-group.col-12.col-md-6.col-6
								input.form-control(type='text',placeholder="Ngân sách")
							.form-group.col-12
								textarea#inpputTextArea.form-control(rows='3',placeholder="Yêu cầu bữa ăn")
						.frm-btnwrap
							.frm-btn
								a(href="") GỬI
									span.material-icons trending_flat



