section.library_video
	.container
		.block-title
			.head-title
				h1 Tin tức
			.head-title-zone
				.title
					ul 
						li 
							a(href="") Hoạt Động
						li 
							a(href="") Thư viện ảnh
						li 
							a(href="") Video clips
						li 
							a(href="") Brochure
		.row
			.col-lg-6
				.figure-media-big
					.figure-image.media-play-big
						.wrapper-big
							a(data-fancybox='gallery', href='https://www.youtube.com/watch?v=_sI_Ps7JSEk')
								.img
									img(src="./img/news-video/video-big-1.png", alt="")
						.caption
							.icon
								img(src="./img/news-video/play-icon.png", alt="")
							.text Video 1
					//- .item__img-hover
					//- 	.content
					//- 		.desc
					//- 			h4 Tổng quan dự án Happy One Thạnh Lộc

			.col-lg-6
				.row
					.col-12.col-md-6.col-lg-6
						.figure-media
							.figure-image.media-play
								.wrapper
									a(data-fancybox='gallery', href='https://www.youtube.com/watch?v=_sI_Ps7JSEk')
										img(src="./img/news-video/video-small-1.png", alt="")
								.caption
									.icon
										img(src="./img/news-video/play-icon.png", alt="")
									.text Video 2
								
					.col-12.col-md-6.col-lg-6
						.figure-media
							.figure-image.media-play
								.wrapper
									a(data-fancybox='gallery', href='https://www.youtube.com/watch?v=_sI_Ps7JSEk')
										img(src="./img/news-video/video-small-2.png", alt="")
								.caption
									.icon
										img(src="./img/news-video/play-icon.png", alt="")
									.text Video 3
									
					.col-12.col-md-6.col-lg-6
						.figure-media
							.figure-image.media-play
								.wrapper
									a(data-fancybox='gallery', href='https://www.youtube.com/watch?v=_sI_Ps7JSEk')
										img(src="./img/news-video/video-small-3.png", alt="")
								.caption
									.icon
										img(src="./img/news-video/play-icon.png", alt="")
									.text Video 4
										
					.col-12.col-md-6.col-lg-6
						.figure-media
							.figure-image.media-play
								.wrapper
									a(data-fancybox='gallery', href='https://www.youtube.com/watch?v=_sI_Ps7JSEk')
										img(src="./img/news-video/video-small-4.png", alt="")
								.caption
									.icon
										img(src="./img/news-video/play-icon.png", alt="")
									.text Video 5
										
	.container
		.row
			.col-lg-6.news_image_left
				.row
					.col-12.col-md-6.col-lg-6
						.figure-media
							.figure-image.media-play
								.wrapper
									a(data-fancybox='gallery', href='https://www.youtube.com/watch?v=_sI_Ps7JSEk')
										img(src="./img/news-video/video-small-5.png", alt="")
								.caption
									.icon
										img(src="./img/news-video/play-icon.png", alt="")
									.text Video 6
										
					.col-12.col-md-6.col-lg-6
						.figure-media
							.figure-image.media-play
								.wrapper
									a(data-fancybox='gallery', href='https://www.youtube.com/watch?v=_sI_Ps7JSEk')
										img(src="./img/news-video/video-small-6.png", alt="")
								.caption
									.icon
										img(src="./img/news-video/play-icon.png", alt="")
									.text Video 7
										
					.col-12.col-md-6.col-lg-6
						.figure-media
							.figure-image.media-play
								.wrapper
									a(data-fancybox='gallery', href='https://www.youtube.com/watch?v=_sI_Ps7JSEk')
										img(src="./img/news-video/video-small-7.png", alt="")
								.caption
									.icon
										img(src="./img/news-video/play-icon.png", alt="")
									.text Video 8
										
					.col-12.col-md-6.col-lg-6
						.figure-media
							.figure-image.media-play
								.wrapper
									a(data-fancybox='gallery', href='https://www.youtube.com/watch?v=_sI_Ps7JSEk')
										img(src="./img/news-video/video-small-8.png", alt="")
								.caption
									.icon
										img(src="./img/news-video/play-icon.png", alt="")
									.text Video 9
										
			.col-lg-6
				.card_img_news_image_right
					.figure-media-big
						.figure-image.media-play-big
							.wrapper-big
								a(data-fancybox='gallery', href='https://www.youtube.com/watch?v=_sI_Ps7JSEk')
									.img
										img(src="./img/news-video/video-big-2.png", alt="")
							.caption
								.icon
									img(src="./img/news-video/play-icon.png", alt="")
								.text Video 10
									