section.block_home_form
	.container
		.row
			.col-12.col-md-3.col-lg-4
				.form-request
					h3 Đăng ký tư vấn dịch vụ
			.col-12.col-md-4.col-lg-4
				.wrap-form
					.row
						.form-group.col-12.col-md-12.col-12
							input.form-control(type='text', placeholder="Họ và tên...")
						.form-group.col-12.col-md-12.col-12
							input.form-control(type='text',placeholder="Số điện thoại...")
						.form-group.col-12.col-md-12.col-12
							input.form-control(type='text',placeholder="Email...")
			.col-12.col-md-5.col-lg-4
				.wrap-form
					.row
						.form-group.col-12
							textarea#inpputTextArea.form-control(rows='3',placeholder="Nội dung...")
					.frm-btnwrap
						.frm-btn
							a(href="") GỬI
								span.material-icons trending_flat