section.block_service-detail
	.container
		.row
			.col-12.col-md-8.col-lg-8
				.card_img
					.img
						img(src="./img/service-meal/service-meal-3.png", alt="")
			.col-12.col-md-4.col-lg-4
				.content-service-meal
					.bg-icon
						.img-icon
							img(src="./img/service-meal/icon-3.png", alt="")
					.title-meal
						h2 Trường học
					.caption
						p Sức khỏe và an toàn. Bữa ăn đủ chất dinh dưỡng đảm bảo an toàn vệ sinh thực phẩm là điều vô cùng quan trọng với trẻ nhỏ
					.btn-view-more
						a(href="") Liên hệ

section.block_service-detail-2
	.container
		.block-title
			.head-title
				h1 Tiêu chí phục vụ
		.row
			.col-12.col-md-6.col-lg-6
				.card_img
					.img
						img(src="./img/service-detail/tieuchi-1.png", alt="")
			.col-12.col-md-6.col-lg-6
				.content-service-detail
					.title
						h3 Đảm bảo sức khỏe và vsattp
					.text
						p Là nhà cung cấp thực phẩm trường học chuyên nghiệp, chúng tôi có trách nhiệm bảo vệ sức khỏe và an toàn cho học sinh, giáo viên, nhân viên, nhà trường thông qua các tiêu chuẩn vsattp:
					.desc-service-detail
						ul
							li
								p Nguồn thực phẩm an toàn: 
								p lựa chọn các nhà cung cấp thực phẩm chất lượng cao, uy tín đảm bảo đúng các tiêu chuẩn VSATTP.
							li
								p Quy trình quản lý chất lượng:
								p The Caterers áp dụng các tiêu chuẩn VSATTP theo quy định Nhà Nước Việt Nam và một số quy chuẩn quốc tế (HACCP) vào Quy trình quản lý chất lượng và rủi ro (SOP) trong vận hành bếp nấu hàng ngày.
							li
								p Đội ngũ nhân viên bếp chuyên nghiệp:
								p được khám sức khỏe đình kỳ, chứng nhận đủ điều kiện VSATTP và thông qua huấn luyện, đào tạo, giám sát chuyên môn và VSATTP bởi đội Ngũ Kiểm Soát Chất Lượng (QC).
							li
								p Bảo hiểm Trách nhiệm sản phẩm QBE (Úc):
								p là giá trị cộng thêm The Caterers mang đến cho đối tác an tâm trong trường hợp sự cố bảo hiểm xảy ra (nếu có).
		.row
			.col-12.col-md-6.col-lg-6
				.card_img
					.img
						img(src="./img/service-detail/tieuchi-2.png", alt="")
			.col-12.col-md-6.col-lg-6
				.content-service-detail
					.title
						h3 thực đơn cân bằng dinh dưỡng
					.text
						p Là nhà cung cấp thực phẩm trường học chuyên nghiệp, chúng tôi có trách nhiệm bảo vệ sức khỏe và an toàn cho học sinh, giáo viên, nhân viên, nhà trường thông qua các tiêu chuẩn vsattp:
					.desc-service-detail
						ul
							li
								p Nguồn thực phẩm an toàn: 
								p lựa chọn các nhà cung cấp thực phẩm chất lượng cao, uy tín đảm bảo đúng các tiêu chuẩn VSATTP.
							li
								p Quy trình quản lý chất lượng:
								p The Caterers áp dụng các tiêu chuẩn VSATTP theo quy định Nhà Nước Việt Nam và một số quy chuẩn quốc tế (HACCP) vào Quy trình quản lý chất lượng và rủi ro (SOP) trong vận hành bếp nấu hàng ngày.
							li
								p Đội ngũ nhân viên bếp chuyên nghiệp:
								p được khám sức khỏe đình kỳ, chứng nhận đủ điều kiện VSATTP và thông qua huấn luyện, đào tạo, giám sát chuyên môn và VSATTP bởi đội Ngũ Kiểm Soát Chất Lượng (QC).
							li
								p Bảo hiểm Trách nhiệm sản phẩm QBE (Úc):
								p là giá trị cộng thêm The Caterers mang đến cho đối tác an tâm trong trường hợp sự cố bảo hiểm xảy ra (nếu có).
		.row
			.col-12.col-md-6.col-lg-6
				.card_img
					.img
						img(src="./img/service-detail/tieuchi-3.png", alt="")
			.col-12.col-md-6.col-lg-6
				.content-service-detail
					.title
						h3 đồng hành trong hoạt động giáo dục
					.text
						p Là nhà cung cấp thực phẩm trường học chuyên nghiệp, chúng tôi có trách nhiệm bảo vệ sức khỏe và an toàn cho học sinh, giáo viên, nhân viên, nhà trường thông qua các tiêu chuẩn vsattp:
					.desc-service-detail
						ul
							li
								p Nguồn thực phẩm an toàn: 
								p lựa chọn các nhà cung cấp thực phẩm chất lượng cao, uy tín đảm bảo đúng các tiêu chuẩn VSATTP.
							li
								p Quy trình quản lý chất lượng:
								p The Caterers áp dụng các tiêu chuẩn VSATTP theo quy định Nhà Nước Việt Nam và một số quy chuẩn quốc tế (HACCP) vào Quy trình quản lý chất lượng và rủi ro (SOP) trong vận hành bếp nấu hàng ngày.
							li
								p Đội ngũ nhân viên bếp chuyên nghiệp:
								p được khám sức khỏe đình kỳ, chứng nhận đủ điều kiện VSATTP và thông qua huấn luyện, đào tạo, giám sát chuyên môn và VSATTP bởi đội Ngũ Kiểm Soát Chất Lượng (QC).
							li
								p Bảo hiểm Trách nhiệm sản phẩm QBE (Úc):
								p là giá trị cộng thêm The Caterers mang đến cho đối tác an tâm trong trường hợp sự cố bảo hiểm xảy ra (nếu có).

section.block_service-detail-3
	.container
		.block-title
			.head-title
				h1 Hình ảnh
		.service-detail-swiper-wrapper
			.nav-arrow-prev
				em.lnr.lnr-chevron-left
			.nav-arrow-next
				em.lnr.lnr-chevron-right
			.swiper-container
				.swiper-wrapper
					.swiper-slide
						.wrapper
							a(href="#")
								img(src="./img/service-detail/service-1.png", alt="")
						.caption_slide
							p Bảo hiểm Trách nhiệm sản phẩm QBE (Úc)là giá trị cộng thêm The Caterers mang đến cho đối tác an tâm trong trường hợp sự cố bảo hiểm xảy ra (nếu có).
					.swiper-slide
						.wrapper
							a(href="#")
								img(src="./img/service-detail/service-2.png", alt="")
						.caption_slide
							p Bảo hiểm Trách nhiệm sản phẩm QBE (Úc)là giá trị cộng thêm The Caterers mang đến cho đối tác an tâm trong trường hợp sự cố bảo hiểm xảy ra (nếu có).
					.swiper-slide
						.wrapper
							a(href="#")
								img(src="./img/service-detail/service-3.png", alt="")
						.caption_slide
							p Bảo hiểm Trách nhiệm sản phẩm QBE (Úc)là giá trị cộng thêm The Caterers mang đến cho đối tác an tâm trong trường hợp sự cố bảo hiểm xảy ra (nếu có).

section.block_service-detail-4
	.container
		.block-title
			.head-title
				h1 Cảm nghỉ của khách hàng
		.service-detail-2-swiper-wrapper
			.nav-arrow-prev
				em.lnr.lnr-chevron-left
			.nav-arrow-next
				em.lnr.lnr-chevron-right
			.swiper-container
				.swiper-wrapper
					.swiper-slide
						.wrapper
							a(href="#")
								img(src="./img/service-detail/khachhang-1.png", alt="")
						.caption_client
							ul
								li
									p Mrs. Le Vi
								li
									p CEO trường tiểu học Lalaa
								li
									p Bảo hiểm Trách nhiệm sản phẩm QBE (Úc)là giá trị cộng thêm The Caterers mang đến cho đối tác an tâm trong trường hợp sự cố bảo hiểm xảy ra (nếu có).
					.swiper-slide
						.wrapper
							a(href="#")
								img(src="./img/service-detail/khachhang-2.png", alt="")
						.caption_client
							ul
								li
									p Mrs. Le Vi
								li
									p CEO trường tiểu học Lalaa
								li
									p Bảo hiểm Trách nhiệm sản phẩm QBE (Úc)là giá trị cộng thêm The Caterers mang đến cho đối tác an tâm trong trường hợp sự cố bảo hiểm xảy ra (nếu có).
					.swiper-slide
						.wrapper
							a(href="#")
								img(src="./img/service-detail/khachhang-3.png", alt="")
						.caption_client
							ul
								li
									p Mrs. Le Vi
								li
									p CEO trường tiểu học Lalaa
								li
									p Bảo hiểm Trách nhiệm sản phẩm QBE (Úc)là giá trị cộng thêm The Caterers mang đến cho đối tác an tâm trong trường hợp sự cố bảo hiểm xảy ra (nếu có).

section.block_service-detail-5
	.container
		.block-title
			.head-title
				h1 Dịch vụ khác
		.service-detail-3-swiper-wrapper
			.nav-arrow-prev
				em.lnr.lnr-chevron-left
			.nav-arrow-next
				em.lnr.lnr-chevron-right
			.swiper-container
				.swiper-wrapper
					.swiper-slide
						.wrapper
							a(href="#")
								img(src="./img/service-detail/dichvukhac-1.png", alt="")
						.caption_slide_5
							.title_slide_5
								h3 Công ty
							.desc_slide_5
								p Tokyo Deli Catering - đơn vị cung cấp suất ăn uy tín và chất lượng
					.swiper-slide
						.wrapper
							a(href="#")
								img(src="./img/service-detail/dichvukhac-2.png", alt="")
						.caption_slide_5
							.title_slide_5
								h3 Sự kiện
							.desc_slide_5
								p Tokyo Deli Catering - tự hào là một trong những đơn vị cung cấp dịch vụ ẩm thực lưu động đa dạng mang đến những bữa sự kiện một cách hoàn hảo trọn vẹn
					.swiper-slide
						.wrapper
							a(href="#")
								img(src="./img/service-detail/dichvukhac-3.png", alt="")
						.caption_slide_5
							.title_slide_5
								h3 Hội nghị
							.desc_slide_5
								p Với việc sở hữu đội ngũ nhân viên bếp chuyên gia dinh dưỡng hàng đầu là những người giàu kinh nghiệm trong việc nấu ăn, được khám sức khỏe định kỳ đồng thời trải qua các huấn luyện đào tạo kỹ năng chuyên môn

section.form-service-detail-meal
	.container
		.row
			.col-lg-5
				.form-request
					h3 Form yếu cầu
				.desc
					p Vui lòng điền đầy đủ thông tin form bên cạnh chúng tôi sẽ sớm nhắn được và phản hồi cho bạn.
			.col-lg-7
				.wrap-form
					.row
						.form-group.col-12.col-md-6.col-6
							input.form-control(type='text', placeholder="Họ và tên")
						.form-group.col-12.col-md-6.col-6
							input.form-control(type='text',placeholder="Email")
						.form-group.col-12.col-md-6.col-6
							input.form-control(type='text',placeholder="Tên công ty")
						.form-group.col-12.col-md-6.col-6
							input.form-control(type='text',placeholder="Thời gian")
						.form-group.col-12.col-md-6.col-6
							input.form-control(type='text',placeholder="Số điện thoại")
						.form-group.col-12.col-md-6.col-6
							input.form-control(type='text',placeholder="Ngân sách")
						.form-group.col-12
							textarea#inpputTextArea.form-control(rows='3',placeholder="Yêu cầu bữa ăn")
					.frm-btnwrap
						.frm-btn
							a(href="") GỬI
								span.material-icons trending_flat