.block_service-detail
	background-image: url('../img/service-detail/bg-service-detail-1.png')
	background-repeat: no-repeat
	background-position: 10% -96px
	// pointer-events: none
	padding: 170px 0 60px 0
	box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15)
	.content-service-meal
		padding: 60px 0
		@media screen and ( max-width: 1024.98px )
			padding: 20px 0
		@media screen and ( max-width: 767px )
			padding: 0
		@media screen and ( max-width: 576px )
			padding: 30px 0
		.title-meal
			padding-top: 10px
			h2
				color: #e82429
				font-size: 18px
				font-weight: 700
				text-transform: uppercase
				font-family: 'Montserrat', sans-serif
		.caption
			padding-top: 10px
			p
				font-size: 18px
				color: #666666
				-webkit-box-orient: vertical
				-webkit-line-clamp: 5
				-o-text-overflow: ellipsis
				display: -webkit-box
				overflow: hidden
				text-overflow: ellipsis
		.btn-view-more
			padding-top: 40px
			a
				text-transform: uppercase
				font-size: 14px
				color: #ffffff
				background: #000000
				padding: 15px 35px
				font-weight: 700
				font-family: 'Montserrat', sans-serif
				border-radius: 5px
				box-shadow: 0px 5px 25px 0px rgba(232, 36, 41, 0.25)
				&:hover
					color: #ffffff
					background: #e82429

// section 2
.block_service-detail-2
	padding: 60px 0 0 0
	.row
		margin-top: 40px
		&:nth-child(2n+1)
			.col-lg-6
				&:nth-child(1)
					order: 2
					@media screen and ( max-width: 576px )
						order: inherit

	.content-service-detail
		.title
			h3
				color: #e82429
				font-size: 24px
				text-transform: uppercase
				ont-family: 'Montserrat', sans-serif
		.text
			padding-top: 20px
			p
				color: #666666
				font-size: 18px
		.desc-service-detail
			p
				padding-top: 15px
			ul
				padding: 0
				margin-left: 20px
				color: #666666
				li
					padding-top: 20px
					p
						font-size: 18px
						color: #666666
						display: inline
						&:nth-child(1)
							font-weight: 700

// section 3
.block_service-detail-3
	margin-top: 60px
	background: #f5f5f5
	@media screen and ( max-width: 576px )
		margin-top: 30px
	.block-title
		padding-top: 50px
		@media screen and ( max-width: 575px )
			padding-top: 30px
	// .service-detail-swiper-wrapper
	// 	@media screen and ( max-width: 576px )
	// 		padding-top: 0
	// 	@media screen and ( max-width: 1024.98px )
	// 		padding-top: 0
	// 	h2
	// 		text-transform: none
	.service-detail-swiper-wrapper
		position: relative
	.nav-arrow-prev,.nav-arrow-next
		position: absolute
		width: 40px
		height: 40px
		top: 25%
		display: flex
		justify-content: center
		align-items: center
		transition: .3s all  ease-in-out
		@media screen and ( max-width: 400px )
			top: 40%
		&:hover
			// color: #c7931c
		em
			transition: .3s all  ease-in-out
			font-size: 30px
			color: #999999
			// @media screen and ( max-width: 576px )
			// 	font-size: 48px
	.nav-arrow-next
		right: -60px
		cursor: pointer
		@media screen and ( max-width: 1439px)
			right: -45px
		@media screen and ( max-width: 1350px)
			right: 0
			
		@media screen and ( max-width: 767px)
			right: 15px
		@media screen and ( max-width: 576px)
			right: 0
			top: 120px
			
	.nav-arrow-prev
		left: -60px
		cursor: pointer
		@media screen and ( max-width: 1439px)
			left: -45px
		@media screen and ( max-width: 1350px)
			left: 0
		@media screen and ( max-width: 767px)
			left: 15px
		@media screen and ( max-width: 576px)
			left: 0
			top: 120px
		
	.swiper-container
		// margin: 0
		// @media screen and ( max-width: 1350px)
		// 	margin: 0 20px
		// @media screen and ( max-width: 1024.98px)
		// 	margin: 0
	.swiper-wrapper
		.swiper-slide
			.wrapper
				height: 100%
				a
					height: 200px
					display: flex
					justify-content: center
					align-items: center
					// padding: 30px
					img
						max-width: 100%
						height: 210px
						width: 100%
			.caption_slide
				padding: 20px 0 35px 0
				p
					color: #707070
					font-size: 18px
					-webkit-box-orient: vertical
					-webkit-line-clamp: 3
					display: -webkit-box
					overflow: hidden
					text-overflow: ellipsis
					height: 85px


// section 4
.block_service-detail-4
	margin-top: 60px
	@media screen and ( max-width: 576px )
		margin-top: 30px
	.block-title
		@media screen and ( max-width: 575px )
			padding-top: 30px
	// .service-detail-swiper-wrapper
	// 	@media screen and ( max-width: 576px )
	// 		padding-top: 0
	// 	@media screen and ( max-width: 1024.98px )
	// 		padding-top: 0
	// 	h2
	// 		text-transform: none
	.service-detail-2-swiper-wrapper
		position: relative
	.nav-arrow-prev,.nav-arrow-next
		position: absolute
		width: 40px
		height: 40px
		top: 25%
		display: flex
		justify-content: center
		align-items: center
		transition: .3s all  ease-in-out
		@media screen and ( max-width: 400px )
			top: 40%
		&:hover
			// color: #c7931c
		em
			transition: .3s all  ease-in-out
			font-size: 30px
			color: #999999
			// @media screen and ( max-width: 576px )
			// 	font-size: 48px
	.nav-arrow-next
		right: -60px
		cursor: pointer
		@media screen and ( max-width: 1439px)
			right: -45px
		@media screen and ( max-width: 1350px)
			right: 0
			
		@media screen and ( max-width: 767px)
			right: 15px
		@media screen and ( max-width: 576px)
			right: 0
			top: 120px
			
	.nav-arrow-prev
		left: -60px
		cursor: pointer
		@media screen and ( max-width: 1439px)
			left: -45px
		@media screen and ( max-width: 1350px)
			left: 0
		@media screen and ( max-width: 767px)
			left: 15px
		@media screen and ( max-width: 576px)
			left: 0
			top: 120px
		
	.swiper-container
		// margin: 0
		// @media screen and ( max-width: 1350px)
		// 	margin: 0 20px
	.swiper-wrapper
		.swiper-slide
			.wrapper
				border-radius: 50%
				display: flex
				justify-content: center
				align-items: center
				a
					display: flex
					justify-content: center
					align-items: center
					border-radius: 50%
					width: 230px
					height: 230px
					img
						width: 100%
						height: 100%
						border-radius: 50%
			.caption_slide_client
				.card_title_slide_client
					h4
						color: #111111
						font-weight: bold
						font-size: 18px
						text-align: center
				.card_title_slide_zone_client
					p
						font-size: 18px
						color: #e92431
						text-align: center
				.content_slide_client
					padding-top: 25px
					color: #666666
					text-align: center
					font-size: 18px
					-webkit-box-orient: vertical
					-webkit-line-clamp: 4
					display: -webkit-box
					overflow: hidden
					text-overflow: ellipsis
					height: 135px
					p
						color: #666666
						text-align: center
						font-size: 18px
						-webkit-box-orient: vertical
						-webkit-line-clamp: 4
						display: -webkit-box
						overflow: hidden
						text-overflow: ellipsis
						height: 120px

// section 5
.block_service-detail-5
	margin-top: 60px
	background-image: url('../img/service-detail/bg-dichvukhac.png')
	background-repeat: no-repeat
	background-size: cover
	background-position: center
	@media screen and ( max-width: 576px )
		margin-top: 30px
	.block-title
		padding-top: 50px
		@media screen and ( max-width: 575px )
			padding-top: 30px
	// .service-detail-swiper-wrapper
	// 	@media screen and ( max-width: 576px )
	// 		padding-top: 0
	// 	@media screen and ( max-width: 1024.98px )
	// 		padding-top: 0
	// 	h2
	// 		text-transform: none
	.service-detail-3-swiper-wrapper
		position: relative
	.nav-arrow-prev,.nav-arrow-next
		position: absolute
		width: 40px
		height: 40px
		top: 20%
		display: flex
		justify-content: center
		align-items: center
		transition: .3s all  ease-in-out
		@media screen and ( max-width: 400px )
			top: 40%
		&:hover
			// color: #c7931c
		em
			transition: .3s all  ease-in-out
			color: #707070
			font-size: 30px
			color: #999999
			// @media screen and ( max-width: 576px )
			// 	font-size: 48px
	.nav-arrow-next
		right: -60px
		cursor: pointer
		@media screen and ( max-width: 1439px)
			right: -45px
		@media screen and ( max-width: 1350px)
			right: 0
			
		@media screen and ( max-width: 767px)
			right: 15px
		@media screen and ( max-width: 576px)
			right: 0
			top: 120px
			
	.nav-arrow-prev
		left: -60px
		cursor: pointer
		@media screen and ( max-width: 1439px)
			left: -45px
		@media screen and ( max-width: 1350px)
			left: 0
		@media screen and ( max-width: 767px)
			left: 15px
		@media screen and ( max-width: 576px)
			left: 0
			top: 120px
		
	.swiper-container
		// margin: 0
		// @media screen and ( max-width: 1350px)
		// 	margin: 0 20px
		// @media screen and ( max-width: 1024.98px)
		// 	margin: 0
	.swiper-wrapper
		.swiper-slide
			.wrapper
				height: 100%
				a
					height: 200px
					display: flex
					justify-content: center
					align-items: center
					// padding: 30px
					img
						max-width: 100%
						height: 210px
						width: 100%
			.caption_slide_5
				padding-bottom: 35px
				.title_slide_5
					padding-top: 15px
					h3
						font-size: 18px
						color: #333333
						text-transform: uppercase
				.desc_slide_5
					padding-top: 15px
					p
						color: #666666
						font-size: 18px

// section 6
.form-service-detail-meal
	background-image: url('../img/service-meal/bg-form.png')
	background-repeat: no-repeat
	background-size: cover
	background-position: center
	padding: 60px 0 30px 0
	.form-request
		h3
			font-size: 30px
			color: #ffffff
	.desc
		padding-top: 20px
		p
			font-size: 18px
			color: #ffffff
			font-family: 'Nunito', sans-serif
	.wrap-form
		margin-bottom: 60px
		@media screen and ( max-width: 1600px )
			margin-bottom: 60px
		@media screen and(max-width:1025px)
			margin: 0
			padding: 0 10px
		@media screen and ( max-width: 1024.98px )
			margin-bottom: 60px
		@media screen and ( max-width: 767px )
			margin-bottom: 0
		@media screen and ( max-width: 576px )
			margin-bottom: 0
		.frm-btn
			width: 140px
			height: 40px
			display: flex
			justify-content: center
			align-items: center
			background: #e92431
			border-radius: 5px
			input[type="submit"]
				color: #ffffff
				cursor: pointer
				font-size: 16px
				font-weight: 400
				display: flex
				justify-content: center
				align-items: center
				background: none
				border: none
				text-transform: uppercase
				// margin-right: 10px
				border-radius: 5px
				&:nth-last-child(2)
					display: none
				// @media screen and ( max-width:1024px  )
				// 	a 
				// 		padding: 0 15px
				// span
				// 	padding-left: 25px
			&:hover
				background: #000000
				cursor: pointer
				a
					color: #ffffff
		.form-group
			margin: 8px 0 8px 0
			font-family: 'Nunito', sans-serif
			@media screen and ( max-width: 576px )
				padding-left: 0
			span
				color: #b2b2b2
				font-size: 13px
				&.fa-exclamation-triangle
					color: firebrick
			input[type="text"]
				padding-left: 20px
				border: 1px solid #f7f7f7
				height: 50px
				width: 100%
				font-family: 'Nunito', sans-serif
				color: #333
				background: #f7f7f7
				border-radius: 5px
				transition: .3s all ease-in-out
				font-size: 14px
				&:focus
					outline: none
					box-shadow: 0px 5px 15px 0px rgba(56, 50, 44, 0.15)
			label
				color: #666666
				font-size: 14px
				font-weight: 400
				margin-bottom: 5px