.dropdown 
	position: relative
	display: inline-block


.dropdown-content 
	display: none
	position: absolute
	background-color: #ffffff
	min-width: 160px
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2)
	z-index: 1
	padding: 20px
	background: #fff
	right: 0
.dropdown-menu
	display: none
	position: absolute
	background-color: #ffffff
	min-width: 220px
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2)
	z-index: 1
	background: #fff
	left: 0
	top: 48px
	@media screen and ( max-width: 576px )
		top: 30px

.dropdown:hover 
	.dropdown-content 
		display: block
	.dropdown-menu 
		display: block


