section.library_image
	.container
		.block-title
			.head-title
				h1 Tin tức
			.head-title-zone
				.title
					ul 
						li 
							a(href="") Hoạt Động
						li 
							a(href="") Thư viện ảnh
						li 
							a(href="") Video clips
						li 
							a(href="") Brochure
		.row
			.col-lg-6
				.block-item
					.item__img
						a(href="")
							img(src="./img/news-img/img-1.png", alt="")
							.album
								.caption Album 1
					.item__img-hover
						.content
							.desc
								h4 Tổng quan dự án Happy One Thạnh Lộc

			.col-lg-6
				.row
					.col-12.col-md-6.col-lg-6
						.block-item
							.item__img
								a(href="")
									img(src="./img/news-img/img-small-1.png", alt="")
									.album
										.caption Album 2
							.item__img-hover
								.content
									.desc
										h5 Tổng quan dự án Happy One Thạnh Lộc
								
					.col-12.col-md-6.col-lg-6
						.block-item
							.item__img
								a(href="")
									img(src="./img/news-img/img-small-2.png", alt="")
									.album
										.caption Album 3
							.item__img-hover
								.content
									.desc
										h5 Tổng quan dự án Happy One Thạnh Lộc
									
					.col-12.col-md-6.col-lg-6
						.block-item
							.item__img
								a(href="")
									img(src="./img/news-img/img-small-3.png", alt="")
									.album
										.caption Album 4
							.item__img-hover
								.content
									.desc
										h5 Tổng quan dự án Happy One Thạnh Lộc
										
					.col-12.col-md-6.col-lg-6
						.block-item
							.item__img
								a(href="")
									img(src="./img/news-img/img-small-4.png", alt="")
									.album
										.caption Album 5
							.item__img-hover
								.content
									.desc
										h5 Tổng quan dự án Happy One Thạnh Lộc
										
	.container
		.row
			.col-lg-6.news_image_left
				.row
					.col-12.col-md-6.col-lg-6
						.block-item
							.item__img
								a(href="")
									img(src="./img/news-img/img-small-5.png", alt="")
									.album
										.caption Album 6
							.item__img-hover
								.content
									.desc
										h5 Tổng quan dự án Happy One Thạnh Lộc
										
					.col-12.col-md-6.col-lg-6
						.block-item
							.item__img
								a(href="")
									img(src="./img/news-img/img-small-6.png", alt="")
									.album
										.caption Album 7
							.item__img-hover
								.content
									.desc
										h5 Tổng quan dự án Happy One Thạnh Lộc
										
					.col-12.col-md-6.col-lg-6
						.block-item
							.item__img
								a(href="")
									img(src="./img/news-img/img-small-7.png", alt="")
									.album
										.caption Album 8
							.item__img-hover
								.content
									.desc
										h5 Tổng quan dự án Happy One Thạnh Lộc
										
					.col-12.col-md-6.col-lg-6
						.block-item
							.item__img
								a(href="")
									img(src="./img/news-img/img-small-8.png", alt="")
									.album
										.caption Album 9
							.item__img-hover
								.content
									.desc
										h5 Tổng quan dự án Happy One Thạnh Lộc
										
			.col-lg-6
				.card_img_news_image_right
					.block-item
						.item__img
							a(href="")
								img(src="./img/news-img/img-2.png", alt="")
								.album
									.caption Album 10
						.item__img-hover
							.content
								.desc
									h4 Tổng quan dự án Happy One Thạnh Lộc
									