section.block_client-brand
	.container
		.block-title
			.head-title
				h1 Khách hàng
			.caption_client
				p Tokyo Deli Catering là sự kế thừa và phát huy thế mạnh của Tokyo Deli - chuỗi nhà hàng Nhật Bản, Catering cung cấp dịch vụ và bữa ăn chất lượng cao cũng như cung cấp thực đơn riêng phù hợp với đặc tính của từng nhu cầu khách hàng.
		.row
			.col-6.col-md-6.col-lg-3
				.brand-img
					.img
						img(src="./img/client/brand-1.png", alt="")
			.col-6.col-md-6.col-lg-3
				.brand-img
					.img
						img(src="./img/client/brand-5.png", alt="")
			.col-6.col-md-6.col-lg-3
				.brand-img
					.img
						img(src="./img/client/brand-3.png", alt="")
			.col-6.col-md-6.col-lg-3
				.brand-img
					.img
						img(src="./img/client/brand-4.png", alt="")
			.col-6.col-md-6.col-lg-3
				.brand-img
					.img
						img(src="./img/client/brand-5.png", alt="")
			.col-6.col-md-6.col-lg-3
				.brand-img
					.img
						img(src="./img/client/brand-6.png", alt="")
			.col-6.col-md-6.col-lg-3
				.brand-img
					.img
						img(src="./img/client/brand-7.png", alt="")
			.col-6.col-md-6.col-lg-3
				.brand-img
					.img
						img(src="./img/client/brand-8.png", alt="")
			.col-6.col-md-6.col-lg-3
				.brand-img
					.img
						img(src="./img/client/brand-6.png", alt="")
			.col-6.col-md-6.col-lg-3
				.brand-img
					.img
						img(src="./img/client/brand-7.png", alt="")
			.col-6.col-md-6.col-lg-3
				.brand-img
					.img
						img(src="./img/client/brand-8.png", alt="")
			.col-6.col-md-6.col-lg-3
				.brand-img
					.img
						img(src="./img/client/brand-1.png", alt="")


