section.block_home-1
	.container
		.block-title
			.head-title
				h1 Chúng tôi là ai
			.text
				p Tokyo Deli Catering là sự kế thừa và phát huy thế mạnh của Tokyo Deli - chuỗi nhà hàng Nhật Bản, Catering cung cấp dịch vụ và bữa ăn chất lượng cao cũng như cung cấp thực đơn riêng phù hợp với đặc tính của từng nhu cầu của khách hàng
		.row
			.col-lg-6
				.content
					.desc-home
						p Catering tự tin mang đến cho bạn dịch vụ cung cấp giải pháp suất ăn cho doanh nghiệp - hội nghị - sự kiện với thực đơn phong phú, trải nghiệm nền ẩm thực Nhật Bản đa dạng, an toàn và chất lượng
					.btn-view-more
						a(href="") Tìm hiểu thêm
							span.material-icons trending_flat
			.col-12.col-md-6.col-lg-6
				.card_img
					.img
						img(src="./img/about/about-1.png", alt="")
	.block_home-2
		.container
			.block-title
				.head-title
					h1 Chuyên gia cung cấp thực phẩm theo yêu cầu
				.text-2
					p Bạn có muốn menu dinh dưỡng, cân bằng cho nhân viên? Bạn muốn một sự kiện hoàn hảo và trọn vẹn? và hơn cả bạn muốn thưởng thức ẩm thực Nhật phong phú đặc sắc? Tokyo Deli Catering sẽ biến mong muốn của bạn thành hiện thực. Hãy liên hệ ngay cho chúng tôi!
			.row
				.col-lg-4
					.content-home-2
						.title-home
							h2 công ty
						.title-zone-home
							p Với thực đơn đa dạng phong phú cùng với quy trình chế biến khép kín, Tokyo Deli Catering là sự lựa chọn hàng đầu của các công ty, doanh nghiệp....
						.card_img
							.img
								//- img(src="./img/index/s-1/s-1.png", alt="")
		