section.block_about
	.container
		.block-title
			.head-title
				h1 Chúng tôi là ai
			.text
				p Tokyo Deli Catering (TDC) là đơn vị cung cấp dịch vụ ẩm thực cho Công Ty - Hội Nghị - Sự Kiện - Trường Học với thực đơn phong phú trải nghiệm nền ẩm thực Nhật Bản đa dạng. Tokyo Deli Catering là sự tiếp nói và mở rộng thể mạnh của Tokyo Deli chuỗi nhà hàng Nhật Bản hàng đầu tại Việt Nam
		.row
			.col-12.col-md-6.col-lg-6
				.content-about
					p Chuyên gia cung cấp dịch vụ ẩm thực theo yêu cầu: Bạn muốn có một menu dinh dưỡng, cân bằng cho nhân viên? Bạn muốn một sự kiện hoàn hảo trọn vẹn? và hơn cả bạn hưởng thức ẩm thực Nhật Bản phong phú đặc sắc? Tokyo Deli Catering sẽ biến mong muốn của bạn thành hiện thực. Hãy liên hệ với chúng tôi ngay!
			.col-12.col-md-6.col-lg-6
				.card_img
					.img
						img(src="./img/about/about-1.png", alt="")
	.block_history
		.container
			.block-title
				.head-title
					h1 Lịch sử Tokyo Deli Catering
			.about-swiper-wrapper
				.nav-arrow-prev
					em.lnr.lnr-chevron-left
				.nav-arrow-next
					em.lnr.lnr-chevron-right
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							.wrapper 2007
							.caption_about
								p Nhà hàng TOKYO Deli đầu tiên được mở tại Phú Mỹ Hưng. Nhà hàng TOKYO Deli đầu tiên được mở tại Phú Mỹ Hưng. Nhà hàng TOKYO Deli đầu tiên được mở tại Phú Mỹ Hưng. Nhà hàng TOKYO Deli đầu tiên được mở tại Phú Mỹ Hưng.
						.swiper-slide
							.wrapper 2017
							.caption_about
								p Mở rộng 20 chi nhánh ở TP. Hồ Chí Minh.Mở rộng 20 chi nhánh ở TP. Hồ Chí Minh.Mở rộng 20 chi nhánh ở TP. Hồ Chí Minh.Mở rộng 20 chi nhánh ở TP. Hồ Chí Minh.Mở rộng 20 chi nhánh ở TP. Hồ Chí Minh.
						.swiper-slide
							.wrapper 2020
							.caption_about
								p Phát triển 50 cửa hàng trên toàn quốc.Phát triển 50 cửa hàng trên toàn quốc.Phát triển 50 cửa hàng trên toàn quốc.Phát triển 50 cửa hàng trên toàn quốc.Phát triển 50 cửa hàng trên toàn quốc.Phát triển 50 cửa hàng trên toàn quốc.Phát triển 50 cửa hàng trên toàn quốc.Phát triển 50 cửa hàng trên toàn quốc.

section.block_about-2
	.container
		.row
			.col-12.col-md-6.col-lg-6
				.block-title
					.head-title
						h1 Tầm nhìn - Sứ mệnh
				.vision-mission
					ul
						li
							.title_vm
								h2 tầm nhìn
							.caption_vm
								p Mang ẩm thực Nhật Bản đến với khách hàng thông qua dịch vụ ăn uống toàn chất lượng và chuyên nghiệp. Tokyo Deli Catering là sự kế thừa và phát huy thế mạnh của Tokyo Deli chuỗi nhà hàng Nhật Bản
						li
							.title_vm
								h2 sứ mệnh
							.caption_vm
								p Tokyo Deli Catering là sự tiếp nối và mở rộng thế mạnh của Tokyo Deli chuỗi nhà hàng Nhật Bản hàng đầu Việt Nam
			.col-12.col-md-6.col-lg-6
				.card_img
					.img
						img(src="./img/about/about-2.png", alt="")

section.block_about-3
	.container
		.block-title
			.head-title
				h1 Giá Trị Cốt Lõi
			.text
				p Mang ẩm thực Nhật Bản đến với khách hàng thông qua dịch vụ ăn uống an toàn, chất lượng và chuyên nghiệp

section.block_about-4
	.container
		.row
			.col-12.col-md-7.col-lg-7
				.card_img
					.img
						img(src="./img/about/about-4.png", alt="")
			.col-12.col-md-5.col-lg-5
				.content_about-4
					.block-title
						.head-title
							h1 Năng lực sản xuất
					.caption_about-4
						p Với đội ngũ chuyên nghiệp xuất thân từ chuỗi nhà hàng Tokyo Deli, cung cấp các thực phẩm tuyệt theo yêu cầu khách hàng cùng chuỗi quy trình chuyên nghiệp, đảm bảo chất lượng và sự an toàn thực phẩm cho món ăn

section.block_about-5
	.container
		.row
			.col-lg-8
				.block-title
					.head-title
						h1 Cam kết chất lượng
					.text
						p Nhờ áp dụng những phương pháp quản lí tiên tiến theo chuẩn vệ sinh an toàn thực phẩm xuyên suốt từ khâu nhập liệu đầu vào đến quy trình chế biến và phục vụ cũng như được hỗ trợ bởi hệ thống sản xuất và cung cấp nguyên liệu toàn thế giói, Tân Việt Nhật cam kết mang đến cho người dùng những sản phẩm ngon an toàn, có lợi ích cho sức khỏe với giá rất hợp lý
				.icon_about-5
					ul
						li
							.img_icon
								img(src="./img/about/icon1-about-5.png", alt="")
						li
							.img_icon
								img(src="./img/about/icon2-about-5.png", alt="")
						li
							.img_icon
								img(src="./img/about/icon1-about-5.png", alt="")
						li
							.img_icon
								img(src="./img/about/icon2-about-5.png", alt="")
