.service-company
	background-image: url('../img/additional/bg.jpg')
	background-position: 50% -450px
	background-repeat: no-repeat
	background-size: cover
	padding: 50px 0
	@media screen and ( max-width: 1024.98px )
		padding: 30px 0 0 0
	@media screen and ( max-width: 576px )
		padding: 30px 0 0 0
	.block-title
		.head-title
			h1
				color: #221f1f
	.swiper-wrapper
		.swiper-slide
			.img
				img
					width: 100%
					height: 100%
					max-height: 100%
					object-fit: cover
	.swiper-pagination-bullet
		background: #ffffff
		opacity: 1
	.swiper-pagination-bullet-active 
		background: #e82429

	.content
		padding: 100px 30px
		@media screen and ( max-width: 1024.98px )
			padding: 30px 10px
		@media screen and ( max-width: 576px )
			padding: 30px 10px
		.sub-title
			padding-top: 10px
		.description
			padding-top: 5px
			font-size: 18px
			color: #666666


.service-company-2
	background: #f5f5f5
	padding: 50px 0
	.select-area
		// @include center
		display: flex
		justify-content: space-between
		align-items: center
		padding: 0 450px
		@media screen and ( max-width: 1260px )
			padding: 0 300px
		@media screen and ( max-width: 1024.98px )
			padding: 0 190px
		@media screen and ( max-width: 998.98px )
			padding: 0 205px
		@media screen and ( max-width: 576px )
			padding: 0
		p
			font-size: 14px
			color: #999999
			margin-right: 20px
		select
			width: 215px
			height: 40px
			padding: 0 10px
			border-radius: 50px
			border: 1px solid #e0e0e0
			@media screen and ( max-width: 1024.98px )
				width: 190px
	.head-menu-tab
		overflow-x: auto
		padding-bottom: 15px
		.tab-panels
			display: flex
			border-bottom: 1px solid #e5e5e5
			justify-content: center
			align-items: center
			@media screen and ( max-width: 576px )
				justify-content: left
	.head-menu-tab
		display: none
		&.active
			display: block
	.head-menu-tab
		display: none
		&.active
			display: block
	.tab-menu
		overflow: auto
		padding-bottom: 15px
	.menu-food-top
		display: flex
		justify-content: center
		align-items: center
		padding: 18px 0
		list-style: none
		border-bottom: 1px solid #e5e5e5
		@media screen and ( max-width: 576px )
			white-space: nowrap
		li
			font-size: 14px
			color: #999999
			text-transform: uppercase
			padding: 0 15px
			display: inline
			position: relative
			&.active
				color: #111111
				font-weight: 700
				&:before
					content: ""
					position: absolute
					bottom: -25px
					left: 42%
					width: 12px
					height: 12px
					border: 2px solid #fff
					border-radius: 50%
					background-color: #e82429
			&:hover
				color: #111111
				font-weight: 700
			a
				cursor: pointer
				@media screen and ( max-width: 576px )
					font-size: 14px

	.menu-food-bottom
		display: flex
		justify-content: center
		padding: 15px 0
		list-style: none
		overflow-x: auto
		li
			font-size: 14px
			color: #999999
			padding: 0 10px
			position: relative
			display: flex
			&.active
				color: #111111
				font-weight: 700
				&:before
					content: ""
					position: absolute
					bottom: -8px
					left: 30%
					width: 40%
					height: 1px
					border-radius: 50%
					background-color: #111111
			&:hover
				color: #111111
			a
				cursor: pointer
				white-space: nowrap

	.row
		margin-right: -5px
		margin-left: -5px
		.col
			flex: 0 0 20%
			padding: 5px
			@media screen and (max-width: 1024px)
				flex: 1 0 50%
			@media screen and (max-width: 768px)
				flex: 1 0 50%
	.food
		margin-top: 10px
		background-color: #fff
		padding: 15px
		text-align: center
		border: 1px solid #e5e5e5
		.card_img
			display: flex
			justify-content: center
			align-items: center
			.img
				height: 132px
				width: 142px
				max-width: 100%
				max-height: 100%
				img
					width: 100%
					height: 100%
					object-fit: scale-down
		.desc-food
			padding-top: 15px
			.name_food
				a
					font-size: 16px
					padding-top: 6px
					-webkit-box-orient: vertical
					-webkit-line-clamp: 2
					-o-text-overflow: ellipsis
					display: -webkit-box
					overflow: hidden
					text-overflow: ellipsis
					height: 50px
					font-weight: 700
			.discount
				text-decoration: line-through
				font-size: 14px
				color: #999999
				padding-top: 15px
				line-height: 14px
			.price
				color: #e82429
				font-size: 16px
				font-weight: 700
		&:hover
			border: 1px solid #000
			@media screen and ( max-width: 576px )
				padding: 20px
	.btn-view-more
		display: none
	
.service-company-3
	.form-service
		background-image: url('../img/service-meal/bg-form.png')
		background-repeat: no-repeat
		background-size: cover
		background-position: center
		padding: 60px 0 30px 0
		@media screen and ( max-width: 1600px )
			padding: 30px 0 30px 0
		@media screen and ( max-width: 576px )
			padding: 30px 0 30px 0
		.form-request
			h3
				font-size: 30px
				color: #ffffff
				font-family: 'Montserrat', sans-serif
		.desc
			padding-top: 20px
			p
				font-size: 18px
				font-family: 'Nunito', sans-serif
				color: #ffffff
		.wrap-form
			margin-bottom: 60px
			@media screen and ( max-width: 1600px )
				margin-bottom: 60px
			@media screen and(max-width:1025px)
				margin: 0
				padding: 0 10px
			@media screen and ( max-width: 1024.98px )
				margin-bottom: 60px
			@media screen and ( max-width: 767px )
				margin-bottom: 0
			@media screen and ( max-width: 576px )
				margin-bottom: 0
			.frm-btnwrap
				position: absolute
				bottom: 17px
				right: 15px
				display: flex
				justify-content: center
				align-items: center
				// @media screen and(max-width:1025px)
				// 	margin: 0 !important
				@media screen and ( max-width: 1024.98px)
					right: 23px
				@media screen and(max-width:767px)
					position: static
					display: block
				.frm-btn
					width: 140px
					height: 40px
					display: flex
					justify-content: center
					align-items: center
					background: #000000
					border-radius: 5px
					input[type="submit"]
						color: #ffffff
						cursor: pointer
						font-size: 16px
						font-weight: 400
						display: flex
						padding-left: 0
						justify-content: center
						align-items: center
						background: none
						border: none
						text-transform: uppercase
						// margin-right: 10px
						border-radius: 5px
						&:nth-last-child(2)
							display: none
						@media screen and ( max-width:1024px  )
							a 
								padding: 0 15px
						span
							padding-left: 25px
					&:hover
						background: #e92431
						cursor: pointer
						a
							color: #ffffff
					a
						display: flex
						justify-content: center
						align-items: center
						color: #ffffff
						span
							padding-left: 15px
			.form-group
				margin: 5px 0 10px 0
				span
					color: #b2b2b2
					font-size: 13px
					&.fa-exclamation-triangle
						color: firebrick
				input,textarea
					padding-left: 20px
					border: 1px solid #ffffff
					height: 42px
					width: 100%
					color: #333
					background: #ffffff
					border-radius: 5px
					transition: .3s all ease-in-out

					&:focus
						outline: none
						box-shadow: 0px 5px 15px 0px rgba(56, 50, 44, 0.15)
				label
					color: #666666
					font-size: 14px
					font-weight: 400
					margin-bottom: 5px
				textarea
					height: 8em
					padding: 10px 0 0 20px

.Module.Module-411
	display: none

.product-detail-page
	.middle-fullwidth
		.global-breadcrumb
			margin-top: 126px
			position: inherit

.block_menu-detail
	background-image: url('/Data/Sites/1/skins/default/img/bg-product-detail.png')
	background-repeat: no-repeat
	background-size: cover
	background-position: center
	padding: 60px 0 60px 0
	.card_img
		background-color: #fff
		border: 1px solid #e5e5e5
		width: 100%
		height: 450px
		display: flex
		justify-content: center
		align-items: center
		.img
			max-width: 100%
			max-height: 100%
			width: 450px
			height: 375px
			img
				width: 100%
				height: 100%
	.right-food
		padding: 30px 0
		@media screen and ( max-width: 576px )
			padding: 15px 0
	.description_food
		padding-top: 50px
		@media screen and ( max-width: 576px )
			padding-top: 30px
		ul
			list-style: none
			padding: 0
			display: flex
			li
				padding-right: 35px
				p
					&:nth-child(1)
						font-size: 18px
						color: #111111
					&:nth-child(2)
						font-size: 18px
						color: #666666
	.block_price
		padding-top: 110px
		border-bottom: 1px solid #333333
		padding-bottom: 30px
		@media screen and ( max-width: 576px )
			padding-top: 30px
			padding-bottom: 15px
		ul
			padding: 0
			list-style: none
			display: flex
			li
				display: flex
				justify-content: center
				align-items: center
				padding-right: 35px
				.price
					p
						color: #e82429
						font-size: 24px
						font-weight: 800
				.discount
					p
						color: #999999
						font-size: 14px
						text-decoration: line-through
				.discount-zone
					p
						color: #ffffff
						font-size: 14px
						background: #e82429
						padding: 0 5px
	.icon-contact
		padding-top: 30px
		width: 100%
		display: flex
		align-items: center
		justify-content: space-between
		@media screen and ( max-width: 576px )
			flex-direction: column
			padding-top: 15px
		a
			font-size: 14px
			padding: 3px 25px
			border-radius: 50px
			font-weight: bold
			border: 1px solid #000
			@include center
			@media screen and ( max-width: 1280px )
				padding: 3px 10px
			@media screen and ( max-width: 576px )
				margin-bottom: 10px
				width: 200px
			
			&:hover
				background-color: #e82429
				color: #fff
				border: 1px solid #e82429
			i
				margin-left: 10px
				font-size: 18px
	.icon-contact-zone
		margin-top: 30px
		display: flex
		align-items: center
		@media screen and ( max-width: 576px )
			justify-content: center
			margin-top: 10px
		.icon
			font-size: 18px
			border: 1px solid #000
			border-radius: 50%
			width: 25px
			height: 25px
			margin-right: 15px
			@include center
			&:hover
				background-color: #e82429
				color: #fff
				border: 1px solid #e82429

.other_food
	padding: 55px 0 55px 0
	.head-title-zone
		padding-top: 0
	.menu-detail-swiper-wrapper
		position: relative
	.nav-arrow-prev,.nav-arrow-next
		position: absolute
		width: 40px
		height: 40px
		top: 40%
		display: flex
		justify-content: center
		align-items: center
		transition: .3s all  ease-in-out
		border: none
		@media screen and ( max-width: 400px )
			top: 40%
			
		&:hover
			color: #e82429
			cursor: pointer
		&:focus
			outline: none
		em
			transition: .3s all  ease-in-out
			font-size: 30px
	.nav-arrow-next
		right: -60px
		@media screen and ( max-width: 1439px)
			right: -45px
		@media screen and ( max-width: 1350px)
			right: 0
			
		@media screen and ( max-width: 767px)
			right: 15px
		@media screen and ( max-width: 576px)
			right: 0
			
	.nav-arrow-prev
		left: -60px
		@media screen and ( max-width: 1439px)
			left: -45px
		@media screen and ( max-width: 1350px)
			left: 0
		@media screen and ( max-width: 767px)
			left: 15px
		@media screen and ( max-width: 576px)
			left: 0
	.swiper-container
		margin: 0
		@media screen and ( max-width: 1350px)
			margin: 0 50px
	.swiper-slide
		height: auto
		display: flex
		justify-content: center
		align-items: center
		border: 1px solid #e5e5e5
		.wrapper
			padding: 30px
			.content-other
				.title-menu
					a
						font-size: 18px
						color: #111111
						display: flex
						justify-content: center
						align-items: center
				.discount-slide
					p
						text-decoration: line-through
						font-size: 16px
						color: #999999
						text-align: center
				.price-slide
					p
						color: #e82429
						font-size: 18px
						text-align: center