extends _layout.pug

block var
	- var title = 'Tin tức'
	- var bodyClass = 'news-video-page'

block main
	include ../components/top-banner/index.pug
	include ../components/breadcrumb/index.pug
	include ../components/news-list/news-video/index.pug
	include ../components/pagination/index.pug