extends _layout.pug

block var
	- var title = 'Tin tức'
	- var bodyClass = 'contact-page'

block main
	include ../components/top-banner/index.pug
	include ../components/breadcrumb/index.pug
	include ../components/news-list/index.pug
	include ../components/pagination/index.pug