extends _layout.pug

block var
	- var title = 'Dịch vụ - Sự kiện'
	- var bodyClass = 'service-events-page'

block main
	include ../components/top-banner/index.pug
	include ../components/breadcrumb/index.pug
	include ../components/service/service-events/index.pug