extends _layout.pug

block var
	- var title = 'Dịch vụ - Suất ăn theo yêu cầu'
	- var bodyClass = 'service-meal-page'

block main
	include ../components/top-banner/index.pug
	include ../components/breadcrumb/index.pug
	include ../components/service-meal/index.pug