extends _layout.pug

block var
	- var title = 'Dịch vụ - Công ty'
	- var bodyClass = 'service-company-page'

block main
	include ../components/top-banner/index.pug
	include ../components/breadcrumb/index.pug
	include ../components/service/service-company/index.pug