section.service-events
	.container
		.block-title
			.head-title
				h1 Sự kiện
		.row
			.col-lg-8
				.swiper-container.slide-service-events
					.swiper-wrapper
						.swiper-slide
							.wrapper
								a
									img(src="./img/additional/1.png", alt="")
						.swiper-slide
							.wrapper
								a
									img(src="./img/additional/1.png", alt="")
						.swiper-slide
							.wrapper
								a
									img(src="./img/additional/1.png", alt="")
					.swiper-pagination.service-events-pagination
			.col-lg-4
				.content
					.item-icon
						img(src="./img/additional/icon-1.png", alt="")
					.sub-title
						h3 Sự kiện
					.description Tokyo Deli Catering - tự hào là một trong những đơn vị cung cấp dịch vụ ẩm thực lưu động đa dạng cho đến nhựng bữa sự kiện một cách hoàn hảo trọn vẹn
		.row
			.col-lg-8
				.swiper-container.slide-service-events
					.swiper-wrapper
						.swiper-slide
							.wrapper
								a
									img(src="./img/additional/2.png", alt="")
						.swiper-slide
							.wrapper
								a
									img(src="./img/additional/2.png", alt="")
						.swiper-slide
							.wrapper
								a
									img(src="./img/additional/2.png", alt="")
					.swiper-pagination.service-events-pagination
			.col-lg-4
				.content
					.sub-title
						h3 Thiết kế thực đơn đa dạng
					.description
						p Bằng sự linh hoạt và thái độ chuyên nghiệp Tokyo Deli Catering tự tin có thể thõa mãn đúng yêu cầu khách hàng bằng những buổi sự kiện tuyệt vời và hài lòng mọi khách dù đó là một sự kiện lớn sang trọng hay một sự kiện nhẹ nhàng đơn giản.
						p Tokyo Deli Catering - tự hào là một trong những đơn vị cung cấp dịch vụ ẩm thực lưu động đa dạng cho đến nhựng bữa sự kiện một cách hoàn hảo trọn vẹn
						p Bằng sự linh hoạt và thái độ chuyên nghiệp Tokyo Deli Catering tự tin có thể thõa mãn đúng yêu cầu khách hàng bằng những buổi sự kiện tuyệt vời và hài lòng mọi khách dù đó là một sự kiện lớn sang trọng hay một sự kiện nhẹ nhàng đơn giản.
						p Tokyo Deli Catering - tự hào là một trong những đơn vị cung cấp dịch vụ ẩm thực lưu động đa dạng cho đến nhựng bữa sự kiện một cách hoàn hảo trọn vẹn

section.service-events-2
	.container
		.block-title
			.head-title
				h2 Hình ảnh
		.sv-events-2-swiper-wrapper
			.nav-arrow-prev
				em.lnr.lnr-chevron-left
			.nav-arrow-next
				em.lnr.lnr-chevron-right
			.swiper-container
				.swiper-wrapper
					.swiper-slide
						.wrapper
							a(href="#")
								img(src="./img/service-detail/service-1.png", alt="")
						.caption_slide
							p Bảo hiểm Trách nhiệm sản phẩm QBE (Úc)là giá trị cộng thêm The Caterers mang đến cho đối tác an tâm trong trường hợp sự cố bảo hiểm xảy ra (nếu có).
					.swiper-slide
						.wrapper
							a(href="#")
								img(src="./img/service-detail/service-2.png", alt="")
						.caption_slide
							p Bảo hiểm Trách nhiệm sản phẩm QBE (Úc)là giá trị cộng thêm The Caterers mang đến cho đối tác an tâm trong trường hợp sự cố bảo hiểm xảy ra (nếu có).
					.swiper-slide
						.wrapper
							a(href="#")
								img(src="./img/service-detail/service-3.png", alt="")
						.caption_slide
							p Bảo hiểm Trách nhiệm sản phẩm QBE (Úc)là giá trị cộng thêm The Caterers mang đến cho đối tác an tâm trong trường hợp sự cố bảo hiểm xảy ra (nếu có).


section.service-events-3
	.container
		.block-title
			.head-title
				h2 Dịch vụ khác
		.sv-events-3-swiper-wrapper
			.nav-arrow-prev
				em.lnr.lnr-chevron-left
			.nav-arrow-next
				em.lnr.lnr-chevron-right
			.swiper-container
				.swiper-wrapper
					.swiper-slide
						.wrapper
							a(href="#")
								img(src="./img/service-detail/dichvukhac-1.png", alt="")
						.caption_slide
							.title_slide
								h3 Công ty
							.desc_slide
								p Tokyo Deli Catering - đơn vị cung cấp suất ăn uy tín và chất lượng
					.swiper-slide
						.wrapper
							a(href="#")
								img(src="./img/service-detail/dichvukhac-2.png", alt="")
						.caption_slide
							.title_slide
								h3 Sự kiện
							.desc_slide
								p Tokyo Deli Catering - tự hào là một trong những đơn vị cung cấp dịch vụ ẩm thực lưu động đa dạng mang đến những bữa sự kiện một cách hoàn hảo trọn vẹn
					.swiper-slide
						.wrapper
							a(href="#")
								img(src="./img/service-detail/dichvukhac-3.png", alt="")
						.caption_slide
							.title_slide
								h3 Hội nghị
							.desc_slide
								p Với việc sở hữu đội ngũ nhân viên bếp chuyên gia dinh dưỡng hàng đầu là những người giàu kinh nghiệm trong việc nấu ăn, được khám sức khỏe định kỳ đồng thời trải qua các huấn luyện đào tạo kỹ năng chuyên môn
