section.block_recruitment-2
	.container
		.title-recruitment
			h2 văn hóa doanh nhgiệp
		.row
			.col-lg-8
				.text-recruitment
					p Tokyo Deli Catering là sự kế thừa và phát huy thế mạnh cả Tokyo Deli - chuỗi nhà hàng Nhật Bản. Catering cung cấp dịch vụ và bữa ăn chất lượng cao cũng như cung cấp thực đơn riêng phù hợp với đặc tính của từng nhau cầu khách hàng.
					p Catering tự tin mang đến cho bạn dịch vụ cung cấp giải pháp suất ăn cho doanh nghiệp - hội nghị - sự kiện với thực đơn phong phú, trải nghiệm nền ẩm thực Nhật Bản an toàn, đa dạng và chất lượng

section.block_recruitment-3
	.container
		.title-recruitment-3
			h2 chính sách nhân sự
		.row
			.col-12.col-md-6.col-lg-6
				.card_img-big
					.img-big
						img(src="./img/recruitment/recruitment-1.png", alt="")
					.content-recruitment
						.title
							h3 lương thưởng
						.title-zone
							p Lương, thưởng hấp dẫn 
							p và các khoảng phụ cấp. Được thưởng lễ, Tết, Sinh nhật và các dịp đặc biệt 
			.col-12.col-md-6.col-lg-6
				.row
					.col-lg-12
						.card_img-small
							.img-small
								img(src="./img/recruitment/recruitment-2.png", alt="")
							.content-recruitment
								.title
									h3 bảo hiểm
								.title-zone
									p Các chế độ bảo hiệm xã hội, 
									p bảo hiểm y tế, bảo hiểm thất nghiệp theo quy định của công ty và pháp luật quy định
					.col-12.col-md-6.col-lg-6
						.card_img-small
							.img-small
								img(src="./img/recruitment/recruitment-3.png", alt="")
							.content-recruitment
								.title
									h3 đào tạo
								.title-zone
									p Chương trình đào tạo bồi dưỡng chuyên môn được tổ chức liên tục và hiệu quả 
					.col-12.col-md-6.col-lg-6
						.card_img-small
							.img-small
								img(src="./img/recruitment/recruitment-4.png", alt="")
							.content-recruitment
								.title
									h3 du lịch
								.title-zone
									p Du lịch nghỉ dưỡng hằng năm và nhiều cơ hội đãi ngộ hấp dẫn cho toàn bộ nhân viên 