section.home_s-4
	.container
		.block-title
			.head-title
				h1 Khách hàng
		.row
			.col-lg-10
				.hone-client-swiper-wrapper
					.nav-arrow-prev
						em.lnr.lnr-chevron-left
					.nav-arrow-next
						em.lnr.lnr-chevron-right
					.swiper-container.home-slide-client
						.swiper-wrapper
							.swiper-slide
								.wrapper
									a(href="#")
										img(src="./img/client/brand-1.png", alt="")
							.swiper-slide
								.wrapper
									a(href="#")
										img(src="./img/client/brand-3.png", alt="")
							.swiper-slide
								.wrapper
									a(href="#")
										img(src="./img/client/brand-5.png", alt="")
							.swiper-slide
								.wrapper
									a(href="#")
										img(src="./img/client/brand-7.png", alt="")
	.home_promotion_slide
		.container
			.block-title
				.head-title
					h1 Khuyến mãi
			.row
				.col-lg-12
					.home-promotion-swiper-wrapper
						//- .nav-arrow-prev
						//- 	em.lnr.lnr-chevron-left
						//- .nav-arrow-next
						//- 	em.lnr.lnr-chevron-right
						.swiper-container.slide-promotion
							.swiper-wrapper
								.swiper-slide
									.card-body
										a(href="")
											.img
												img(src="./img/promotion/promotion-2.png", alt="")
											.content
												.date
													time 01/06/2020
												.title-home-promotion
													a(href="") Khai trương cửa hàng thứ 15, Toky o Deli âm thầm chinh phục giới trẻ Việt.
												.icon
													span.material-icons east
								.swiper-slide
									.card-body
										a(href="")
											.img
												img(src="./img/promotion/promotion-3.png", alt="")
											.content
												.date
													time 01/06/2020
												.title-home-promotion
													a(href="") Khai trương cửa hàng thứ 15, Toky o Deli âm thầm chinh phục giới trẻ Việt.
												.icon
													span.material-icons east
								.swiper-slide
									.card-body
										a(href="")
											.img
												img(src="./img/promotion/promotion-1.png", alt="")
											.content
												.date
													time 01/06/2020
												.title-home-promotion
													a(href="") Khai trương cửa hàng thứ 15, Toky o Deli âm thầm chinh phục giới trẻ Việt.
												.icon
													span.material-icons east
							.swiper-pagination.home_s-4-pagination