section.block_promotion
	.container
		.block-title
			.head-title
				h1 Khuyến mãi
		.row
			.col-12.col-md-6.col-lg-6
				.card_img_big
					.img_big
						img(src="./img/promotion/promotion-1.png", alt="")
			.col-12.col-md-6.col-lg-6
				.content-promotion
					.date
						time 01/06/2020
					.title_promotion
						a(href="") Khai trương của hàng thứ 15, Tokyo Deli ầm thầm chinh phục giới trẻ Việt
					.title_zone_promotion
						p Tokyo Deli từ lâu đã trở thành địa điểm thường xuyên lui tới với những ai yêu thích ẩm thực xứ hoa anh đào nói chung, và sushi nói riêng. Không những làm say lòng khách bởi hương vị tinh tế, thanh tao đặc trưng của ẩm thực Nhật, các món ăn ở đây đều được chế biến từ các nguyên liệu tươi ngon chính tay các đầu bếp có kinh nghiệm phong phú về món
					.icon
						span.material-icons east
	.container
		.row
			.col-12.col-md-6.col-lg-4
				.card_img
					.img
						img(src="./img/promotion/promotion-2.png", alt="")
				.content-small-promotion
					.date
						time 01/06/2020
					.caption
						a(href="") Khuyến mãi tặng 01 nước Healthy Drink bất kỳ cho combo bữa ăn dành cho công ty
					.icon
						span.material-icons east
			.col-12.col-md-6.col-lg-4
				.card_img
					.img
						img(src="./img/promotion/promotion-3.png", alt="")
				.content-small-promotion
					.date
						time 01/06/2020
					.caption
						a(href="") Quý khách hàng là chủ thẻ hội viên Tokyo Deli khi đặc suất ăn được hưởng ưu đãi giảm 10%
					.icon
						span.material-icons east
			.col-12.col-md-6.col-lg-4
				.card_img
					.img
						img(src="./img/promotion/promotion-4.png", alt="")
				.content-small-promotion
					.date
						time 01/06/2020
					.caption
						a(href="") Quý khách hàng là chủ thẻ hội viên Tokyo Deli khi đặc suất ăn được hưởng ưu đãi giảm 10%
					.icon
						span.material-icons east
			.col-12.col-md-6.col-lg-4
				.card_img
					.img
						img(src="./img/promotion/promotion-5.png", alt="")
				.content-small-promotion
					.date
						time 01/06/2020
					.caption
						a(href="") Khuyến mãi tặng 01 nước Healthy Drink bất kỳ cho combo bữa ăn dành cho công ty
					.icon
						span.material-icons east
			.col-12.col-md-6.col-lg-4
				.card_img
					.img
						img(src="./img/promotion/promotion-6.png", alt="")
				.content-small-promotion
					.date
						time 01/06/2020
					.caption
						a(href="") Quý khách hàng là chủ thẻ hội viên Tokyo Deli khi đặc suất ăn được hưởng ưu đãi giảm 10%
					.icon
						span.material-icons east
			.col-12.col-md-6.col-lg-4
				.card_img
					.img
						img(src="./img/promotion/promotion-7.png", alt="")
				.content-small-promotion
					.date
						time 01/06/2020
					.caption
						a(href="") Quý khách hàng là chủ thẻ hội viên Tokyo Deli khi đặc suất ăn được hưởng ưu đãi giảm 10%
					.icon
						span.material-icons east