section.block_service-meal
	.container
		.block-title
			.head-title
				h1 Suất ăn theo yếu cầu
		.row.service
			.col-12.col-md-8.col-lg-8
				a(href="service-meal-detail.html")
					.card_img
						.img
							img(src="./img/service-meal/service-meal-1.png", alt="")
			.col-12.col-md-4.col-lg-4
				.content-service-meal
					.bg-icon
						.img-icon
							img(src="./img/service-meal/icon-1.png", alt="")
					.title-meal
						h2 công ty
					.caption
						p Tokyo Deli Catering-đơn vị cung cấp suất ăn uy tín và chất lượng
					.btn-view-more
						a(href="service-meal-detail.html") Tìm hiểu thêm
							span.material-icons trending_flat
		.row.service
			.col-12.col-md-8.col-lg-8
				a(href="service-meal-detail.html")
					.card_img
						.img
							img(src="./img/service-meal/service-meal-2.png", alt="")
			.col-12.col-md-4.col-lg-4
				.content-service-meal
					.bg-icon
						.img-icon
							img(src="./img/service-meal/icon-2.png", alt="")
					.title-meal
						h2 Sự kiện
					.caption
						p Tokyo Deli Catering - tự hào là một trong những đơn vị cung cấp dịch vụ ẩm thực lưu đông đa dạng mang đến cho những bữa sự kiện một cách hoàn hảo trọn vẹn
					.btn-view-more
						a(href="service-meal-detail.html") Tìm hiểu thêm
							span.material-icons trending_flat
		.row.service
			.col-12.col-md-8.col-lg-8
				a(href="service-meal-detail.html")
					.card_img
						.img
							img(src="./img/service-meal/service-meal-3.png", alt="")
			.col-12.col-md-4.col-lg-4
				.content-service-meal
					.bg-icon
						.img-icon
							img(src="./img/service-meal/icon-3.png", alt="")
					.title-meal
						h2 Trường học
					.caption
						p Sức khỏe và an toàn. Bữa ăn đủ chất dinh dưỡng đảm bảo an toàn vệ sinh thực phẩm là điều vô cùng quan trọng với trẻ nhỏ
					.btn-view-more
						a(href="service-meal-detail.html") Tìm hiểu thêm
							span.material-icons trending_flat
		.row.service
			.col-12.col-md-8.col-lg-8
				a(href="service-meal-detail.html")
					.card_img
						.img
							img(src="./img/service-meal/service-meal-4.png", alt="")
			.col-12.col-md-4.col-lg-4
				.content-service-meal
					.bg-icon
						.img-icon
							img(src="./img/service-meal/icon-4.png", alt="")
					.title-meal
						h2 Sự kiện
					.caption
						p Với việc sở hữu đội ngũ nhân viên bếp chuyên nghiệp cùng các chuyên gia dinh dưỡng hàng đầu là những người giàu kinh nghiệm trong việc nấu ăn được khám sức khỏe định kỳ đồng thời trải qua các huấn luyện đào tạo kỹ năng chuyên môn
					.btn-view-more
						a(href="service-meal-detail.html") Tìm hiểu thêm
							span.material-icons trending_flat
	.form-service-meal
		.container
			.row
				.col-lg-5
					.form-request
						h3 Form yếu cầu
					.desc
						p Vui lòng điền đầy đủ thông tin form bên cạnh chúng tôi sẽ sớm nhắn được và phản hồi cho bạn.
				.col-lg-7
					.wrap-form
						.row
							.form-group.col-12.col-md-6.col-6
								input.form-control(type='text', placeholder="Họ và tên")
							.form-group.col-12.col-md-6.col-6
								input.form-control(type='text',placeholder="Email")
							.form-group.col-12.col-md-6.col-6
								input.form-control(type='text',placeholder="Tên công ty")
							.form-group.col-12.col-md-6.col-6
								input.form-control(type='text',placeholder="Thời gian")
							.form-group.col-12.col-md-6.col-6
								input.form-control(type='text',placeholder="Số điện thoại")
							.form-group.col-12.col-md-6.col-6
								input.form-control(type='text',placeholder="Ngân sách")
							.form-group.col-12
								textarea#inpputTextArea.form-control(rows='3',placeholder="Yêu cầu bữa ăn")
						.frm-btnwrap
							.frm-btn
								a(href="") GỬI
									span.material-icons trending_flat